.reviewContainer {
    padding: 8% 10% 0 10%;
    background-color: #0A0B1A;
  }
  
  .container-box-reviews {
    color: #fff;
    font-family: "Libre Baskerville", serif;
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }
  
  .container-box-reviews hr {
    width: 37px;
    height: 2px;
    margin-top: 5px;
    background-color: #0259eb;
    border-radius: 100px;
    border: none;
  }
  
  .container-box-reviews a {
    text-decoration: none;
    color: #e5c558;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  @media screen and (max-width:480px) {
    .reviewContainer {
      padding: 8% 3%;
      background-color: #0A0B1A;
    }
    
  }