

  .upperBack {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../../Assets/bg.png);
    background-position: top center;
    background-size: cover;
    /* overflow: hidden; */
  }
  
  .overlay {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(
      180deg,
      rgba(5, 11, 20, 0.28) 0%,
      rgba(1, 13, 32, 0.788) 67.53%,
      #0a0b1a 85.33%
    );
  }


  .text {
    padding: 10%;
    margin-top: 20px;
    color: #fff;
  }
  
  .text h1 {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
   
    font-weight: bold;
    font-size: 70px;
    line-height: 96px;
  }
  
  .text p {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.6;
    width: 40%;
    letter-spacing: 1px;

  }
  
  .lowerBack {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #0a0b1a;
  }
  
  
  @media screen and (max-width:480px) {
    .text {
      padding: 0 10%;
      margin-top: 50%;
    }
    .text h1 {
     font-size: 35px;
    line-height: 40px;
    }
    .text p {
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      letter-spacing: 0;
  
  
    }
  }
  
